In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('examples_to_annotate.csv')

In [3]:
df

,source,summary,model,HHEMv1,HHEM-2.1,HHEM-2.1-English,trueteacher,true_nli,gpt-3.5-turbo,gpt-4-turbo,gpt-4o
0,First blood to United after their Under 18s sa...,"In the'mini-derby', Manchester United's Under...",mistralai/Mistral-7B-Instruct-v0.3,0.86453,0.87999,0.98999,1,1.0,1,1,1
1,Last week she was barely showing – but Demelza...,The passage discusses the Poldark TV show and...,mistralai/Mistral-7B-Instruct-v0.3,0.95855,0.49395,0.94079,1,1.0,1,1,1
2,"Anne Rice . Born in New Orleans , Rice spent m...","Anne Rice, born in New Orleans, lived in vari...",mistralai/Mistral-7B-Instruct-v0.3,0.98776,0.98398,0.99762,1,1.0,0,1,1
3,Brad Wilk . He is best known as the drummer of...,Brad Wilk is a drummer who gained prominence ...,mistralai/Mistral-7B-Instruct-v0.3,0.82963,0.36681,0.60632,1,1.0,0,0,1
4,The Millers . The multi-camera series aired fr...,The passage discusses a multi-camera televisi...,mistralai/Mistral-7B-Instruct-v0.3,0.99865,0.96263,0.99389,1,1.0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...
1145,have you ever panicked about whether you locke...,"A company named Direct Line, based in Leeds, i...",openai/gpt-4o,0.50845,0.97434,0.95664,1,1.0,1,1,1
1146,an aspiring model who set a honey trap to lure...,"Leonie Granger, a 25-year-old aspiring model, ...",openai/gpt-4o,0.43426,0.96596,0.98727,1,1.0,1,1,1
1147,"As of , more than cases of COVID-19 have been ...","As of [date], more than [number] cases of COVI...",openai/gpt-4o,0.98723,0.56885,0.95542,1,1.0,1,1,1
1148,"As of 22 February 2020 , 77,984 cases have bee...","As of 22 February 2020, 77,984 cases have been...",openai/gpt-4o,0.99946,0.75456,0.99302,1,1.0,1,1,1
1149,"As of 22 February 2020 , 78,629 cases have bee...","As of 22 February 2020, there have been 78,629...",openai/gpt-4o,0.99960,0.79969,0.99608,1,1.0,1,1,1